*.sqlite
*.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
*.json
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/Browse.VC.opendb
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db-wal
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db-shm
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/FileContentIndex/eb4d9744-c5e5-4390-af9d-7ee8b1f6ad91.vsidx
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/E-commerce-Online-Shopping/FileContentIndex/003026a6-1459-45f9-8242-dcb790e866c8.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/34cee8fa-5456-4a0f-85f9-8d8bb45bc81d.vsidx
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/89bcb330-41bf-47ab-b5b5-131a0af73137.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/DocumentLayout.json
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/FileContentIndex/1b023e91-52e8-4589-bada-c14f86ddecff.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/b85e2200-3bd7-47e8-a946-32a71d5657a4.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/1dfa1125-1f5d-4745-bacf-042cd43c1e4e.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/4149374b-0c95-460f-b623-050581693381.vsidx
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/v17/Browse.VC.db
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/FileContentIndex/7669acb2-8599-4d82-968f-22c39465cde1.vsidx
.vs/E-commerce-Online-Shopping/CopilotIndices/17.14.734.62261/SemanticSymbols.db
